@{
    Layout = null;
}
<!--link your css,js file from new provider-->
<link href="/adblockme.css" rel="stylesheet" />
<link href="/myadd.css" rel="stylesheet" />

<div class="google-adds col-md-12" style="margin-bottom:10px">
    <!--this is blockable. AdBlockers can block whole div with google-add class-->
    <div class="adBlockTest2">
        You can block me by blocking class named google-adds on me.
    </div>
</div>
<div class="myTestClass2" data-test="asd-adds">
    <div id="myTestId">
        <div class="myTestClass">
            <div class="col-md-12" style="margin-bottom:10px">
                <div class="adBlockTest">
                    This is default value
                </div>
            </div>
        </div>
    </div>
</div>
<div class="adBlockTest text-center">
    This is default value
</div>

<!--link your css,js files for new provider-->
<script src="/adblockme.js"></script>